/*
 * Cape Breton Radio Playlists Statistics Stylesheet
 */
html 
{
	font-size: 62.5%;
	height: 100%;
}

body 
{
	font-size: 1.4rem;
	font-family: 'Open Sans', sans-serif;
	line-height: 2rem;
	margin: 0;
	background-color: darkslateblue;
	height: 100%;
	box-sizing: border-box;
}

a:hover
{
	color: cornflowerblue;
}

label
{
	margin-right: 4px;
}

.hidden
{
	display: none;
}

#search > input[type="text"], #search > select
{
	margin-right: 10px;
}

table
{
	box-sizing: border-box;
}

.container
{
	background-color: white;
	max-width: 1000px;
	min-height: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	box-sizing: border-box;
}

main
{
	margin-top: 50px;
}

nav.links a
{
	font-size: 1.6rem;
	margin-right: 15px;
	text-decoration: none;
}

.warning
{
	margin-top: -10px;
}

nav > button
{
	margin-right: 10px;
}

nav > button.selected
{
	border-style: inset;
}

.playlist-container
{
	width: 90%;
	max-height: 520px;
	overflow-y: auto;
	margin-bottom: 40px;
}

ul.linklist {
	list-style-type: decimal;
}

ul.linklist ul {
	list-style-type: none;
	margin-left: 0;
	padding-left: 15px
}

table.songlist
{
	width: 100%;
	border-collapse: collapse;
}

table.songlist th, table.spanned-list th
{
	padding: 5px;
	background-color: black;
	color: white;
	border-right: 2px inset black;
}

table.songlist td
{
	padding: 5px;
	border-left: 2px inset;
}

table.songlist > tbody td:first-child
{
	text-align: center;
	border: 0;
}

table.songlist > tbody > tr:nth-child(even)
{
	background-color: #dedede;
}

table.spanned-list
{
	width: 100%;
	border-collapse: collapse;
	border: 1px outset;
}

table.spanned-list td
{
	padding: 5px;
}

tr.row-start td, td.border-me {
	border: 1px outset;
}

.center-align {
	text-align: center;
}